{{!-- {{This is the main page handlebars}} --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/main.css">
        <title>Fibonacci + Prime</title>
</head>

<body>
<h1>Fibonacci + Prime</h1>

    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>


<footer>
  <p>Miriam Podkolzin <br>
  10422946 <br>
  Clementine lover</p>
</footer>

    <script src="/public/form.js"></script>
</body>

</html>