{{!-- {{This is the main page handlebars}} --}}

<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset= "utf-8">
    <link rel="stylesheet" href="/public/main.css">
    <title>Gaiters</title>
</head>
    <main>
        {{{body}}}
    </main>
</html>