{{!-- {{This is the home page handlebars}} --}}
<h2 class="mt-5 mb-5 text-center" id="ok">{{ rows }}</h2>
<p> Main Page</p>
<button id="home-info">Home Test</button>
<script>
    $('#home-info').click(function () {
        $.ajax({
            type: 'POST',
            url: "/test",
            data: {},
            success: function (data) {
                console.log('success')
            },
            error: function (data, error, xhr) {
                console.log('error')
            },
            dataType: 'json'
        });
    });
</script>
