.navbar-toggler {
    opacity: 0.5;
    color: black;
  }

.card {
    width: 60%;
    height: 90%;
    margin: 60px;
    margin-left: 90px;
    background-color: #f0f0f0f5;
}
.card-title{
    color: rgb(228, 222, 222);
    background-color: #30745a;
    padding: 20px;
    margin-left: 0px;
}

body {
    background-color: #413e3e;
  }

.row {
  padding-bottom: 20px;
  margin: 10px;
  padding-right: 15%;
  padding-left: 15%;
}

#nav {
  margin-bottom: 10px;
  padding-left: 20px;
  margin-top: 0px;
  
}

#date {
  margin-left: 20px;
  color: whitesmoke;
}

hr{
  border: 1px solid rgb(231, 222, 222);
}



#page-container {
  position: relative;
  min-height: 92vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
  text-align: center;
  padding: 2px;
  background-color: #000000;
  color: white;
  display: block;
}

.content{
  background-color: rgb(26, 26, 26);
  text-align: center;
  margin: 40px;
  height: 45rem;
  font-size: 25px;
  border-radius: 30px;
}