.navbar-toggler {
  opacity: 0.5;
  color: black;
}

#nav {
  margin-bottom: 10px;
  padding-left: 20px;
  margin-top: 0px;
  
}

  body {
    background-color: #413e3e;
  }

  #myGraph {
      background-color: #FFFFFF;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
  }

  
#page-container {
  position: relative;
  min-height: 92vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
  text-align: center;
  padding: 2px;
  background-color: #000000;
  color: white;
  display: block;
}


#date {
  margin-left: 20px;
  margin-top: 10px;
  color: whitesmoke;

}
hr{
  border: 1px solid rgb(231, 222, 222);
}