.navbar-toggler {
  opacity: 0.5;
  color: black;
}

#nav {
  margin-bottom: 10px;
  padding-left: 20px;
  margin-top: 0px;
  
}

  body {
    background-color: #413e3e;
  }

  #myGraph {
      background-color: #FFFFFF;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
  }