.navbar-toggler {
  opacity: 0.5;
  color: black;
}

#nav {
  margin-bottom: 10px;
  padding-left: 20px;
  margin-top: 0px;
  
}

  body {
    background-color: #413e3e;
    color:rgb(231, 222, 222);
  }

  .slider:hover {
    opacity: 1;
  }


 /* this is for side by side if we want
  .slider{
    display: inline-flex;
 }
*/

.slidecontainer{
    padding: 2px;
    margin-bottom: 30px;
}

.slider{
    margin-bottom: 0px;
}

.middle{
    text-align: center;
    margin-top: 20px;
  }

.text{
display: inline-flex;
}

#date {
    margin-left: 20px;
    margin-top: 10px;
    color: whitesmoke;

  }
  hr{
    border: 1px solid rgb(231, 222, 222);
  }